<div style="text-align: left">
  <%= form_with(model: event, local: true) do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "Artist" %>
      <%= form.text_field :artist, :class => 'text-input' %>
    </div>

    <div class="field">
      <%= form.label "Description" %>
      <%= form.text_area :description, :class => 'text-input' %>
    </div>

    <div class="field">
      <%= form.label "Price low" %>
      <%= form.text_field :price_low, :class => 'text-input' %>
    </div>

    <div class="field">
      <%= form.label "Price high" %>
      <%= form.text_field :price_high, :class => 'text-input' %>
    </div>

    <div class="field">
      <%= form.label "Date" %>
      <%= form.date_field :event_date, :class => 'text-input' %>
    </div>

    <div class="actions">
      <%= form.submit "Save", :class => 'btn-primary' %>
    </div>
  <% end %>
</div>