<div class="card col-lg-4 col-md-4">
  <p id="komunikat"><%= flash[:komunikat] %></p>

  <p class="lbl">
    <strong>Artysta:</strong>
    <%= @event.artist %>
  </p>

  <p class="lbl">
    <strong>Opis:</strong>
    <%= @event.description %>
  </p>

  <p class="lbl">
    <strong>Data:</strong>
    <%= @event.event_date %>
  </p>

  <p class="lbl">
    <strong>Cena (min):</strong>
    <%= @event.price_low %>
  </p>

  <p class="lbl">
    <strong>Cena (max):</strong>
    <%= @event.price_high %>
  </p>

</div>

<div class="card col-lg-4 col-md-4" style="clear: both">
  <h2 class="text-label" style="margin-bottom: 5%">Kup bilet</h2>

  <%= render 'tickets/form', ticket: Ticket.new(:event_id => @event.id) %>
</div>

<div style="clear:both;">
  <%= render 'tickets/showall', tickets: @event.tickets %>
</div>
<%= link_to 'Wróć', events_path %>